.borderradius #markups a {
  border-radius: 50%;
}

#markups {
  display: block;
  top: 30%;
  width: 44px;
  right: 15px;
  position: fixed;
  z-index: 9;
  @media screen and (max-width: 768px) {
    display: none;
  }
  a {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 3px 0;
    background: $color-grey;
    text-align: center;
    color: $color-white;
    border-radius: 50%;
    &:hover {
      background-color: $color-dark-grey;
      cursor: pointer;
    }
    .fa {
      margin-top: 13px;
    }
  }
}