.logged-in {
  margin-top: 32px;
  transition: all .35s;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}

h2.page-title {
  text-align: center;
  margin: 30px 0;
}

#searchform {
  border-radius: 3px;
  border: 1px solid $color-grey;
  height: 24px;
  float: left;
  margin-top: 23px;
  width: 175px;
  transition: margin 0.5s ease-in-out 0s;
  input[type="text"] {
    background-color: transparent;
    border: 0;
    padding-left:10px;
    width: 140px;
  }
  #searchsubmit {
    background: transparent;
    border: 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $main-menu-height;
  transition: all 0.5s ease-in-out 0s;
  background-color: $color-white;
  border-bottom: 1px solid #f3f3f3;
  z-index: 999;
  @media screen and (max-width: 992px) {
    position: relative;
    height: 46px;
    transition: all 0.5s ease-in-out 0s;
  }
  .logo {
    float: left;
    @media screen and (max-width: 768px) {
    }
    a {
      img {
        width: 176px;
        height: 32px;
        transition: all 0.5s ease-in-out 0s;
        margin-top: 15px;
      @media screen and (max-width: 992px) {
        width: 143px;
        height: 26px;
        transition: all 0.5s ease-in-out 0s;
        margin-top: 8px;
      }
      }
    }
  }
  #burger-menu {
    display: none;
    float: right;
    margin-top: 9px;
    @media screen and (max-width: 768px) {
      display: block;
    }
    i {
      font-size: 2em;
      color: $color-purple;
    }
  }
  ul.utility-nav-small {
    display: none;
    float: right;
    font-size: 1.7em;
    margin-top: 6px;
    @media screen and (max-width: 768px) {
      display:none;
    }
    .language-sub {
      display: none;
    }
    li.language, li.search-icon {
      float: left;
    }
    li.search-icon {
      margin-right: 15px;
    }
  }

  nav.page-nav {
    font-size: 0.875em;
    font-weight: 500;
    float: right;
    @media screen and (min-width: 769px) and (max-width: 992px) {
      font-size: 0.750em;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
    .header-menu {
      float: left;
      img {
        width: auto;
      }
    }
    ul.nav-menu li a, ul.utility-nav li a {
      display: block;
      padding-top: 26px;
      padding-bottom: 19px;
      transition: padding 0.5s ease-in-out 0s;
      text-transform: uppercase;
      @media screen and (min-width: 769px) and (max-width: 992px) {
        padding-top: 17px;
        padding-bottom: 12px;
      }
    }
    ul.nav-menu li ul li ul.sub-menu li ul.sub-menu li a {
      display: inline;
    }
    ul.nav-menu > li:hover > a {
      background-color: $color-purple;
      color: $color-white;
      cursor: pointer;
    }
    ul.nav-menu {
      li {
        float: left;
        a {
          padding-left: 15px;
          padding-right: 15px;
          color: $color-grey;
        }
        .ul-wrap {
          display: none;
          width: 100%;
          background-color: $color-purple;
          position: absolute;
          left: 0;
        }
        ul {
          width: 1170px;
          margin-left: auto;
          margin-right: auto;
          li {
            padding: 8px 15px 6px 15px;
            &:hover > a {
              text-decoration: underline;
            }
            a {
              color: $color-white;
              padding: 0;
              &:hover {
                text-decoration: underline;
              }
            }
            .ul-wrap {
              background-color: #e1e8f6;
              margin-top: 6px;
            }
            ul.sub-menu {
              li {
                padding: 25px 15px 20px 15px;
                &:hover > a {
                  color: $color-purple;
                  text-decoration: none;
                }
                .ul-wrap {
                  display: block;
                  width: auto;
                  margin: 0;
                  position: relative;
                  background: transparent;
                }
                a {
                  color: $color-purple;
                  background: transparent;
                  font-size: 1.125em;
                  font-weight: 500;
                  padding: 0;
                  pointer-events: none;
                  cursor: default;
                  &:hover {
                    background: transparent;
                    text-decoration: none;
                  }
                }
                ul.sub-menu {
                  display: block;
                  margin-top: 15px;
                  width: auto;
                  li {
                    float: none;
                    margin-bottom: 5px;
                    padding: 0;
                    a {
                      color: $color-grey;
                      pointer-events: auto;
                      cursor: pointer;
                      font-weight: 500;
                      font-size: 1em;
                      text-transform: none;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }

          }
        }
      }
    }
    li#menu-item-480:hover > a, li#menu-item-2271:hover > a {
      background: transparent;
      color: $color-grey;
    }
    li#menu-item-480, li#menu-item-2271 {
      .ul-wrap {
        width: auto;
        left: auto;
        .sub-menu {
          width: auto;
          li {
            float: none;
          }
        }
      }
    }
  }

  &.menu-reduced {
    @media screen and (min-width: 769px) {
      height: 46px;
      transition: all 0.5s ease-in-out 0s;
      .logo {
        a {
          img {
            width: 143px;
            height: 26px;
            transition: all 0.5s ease-in-out 0s;
            margin-top: 8px;
          }
        }
      }
      nav.page-nav ul.utility-nav li.search-icon {
        padding-top: 10px;
        transition: padding 0.5s ease-in-out 0s;
      }
      nav ul.nav-menu li a, nav ul.utility-nav li a {
        padding-top: 15px;
        padding-bottom: 12px;
        @media screen and (min-width: 769px) and (max-width: 992px) {
          padding-top: 17px;
          padding-bottom: 12px;
        }
        a {
        transition: padding 0.5s ease-in-out 0s;
        }
      }
      #searchform {
        margin-top: 11px;
        transition: margin 0.5s ease-in-out 0s;
      }
    }
  }
}

#menu-item-746, #menu-item-749, #menu-item-754, #menu-item-226, #menu-item-2280, #menu-item-2277, #menu-item-2278, #menu-item-2274 {
  > .ul-wrap {
    > ul.sub-menu {
      padding: 25px 15px 20px 15px;
      > li {
        padding: 0;
        margin-bottom: 5px;
        float: none;
        > a {
          display: inline;
          color: $color-grey;
          text-decoration: none;
          text-transform: none;
          pointer-events: auto;
          cursor: pointer;
          font-weight: 500;
          font-size: 1em;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#menu-item-753, #menu-item-2279 {
  >.ul-wrap {
    height: auto;
  }
}

#menu-item-226, #menu-item-2274 {
  > .ul-wrap {
    background-color: #e1e8f6;
    border-top: 5px solid $color-purple;
  }
}

.header-menu-small-language {
  display: none;
  float: right;
  @media screen and (max-width: 768px) {
    display: block;
  }
  ul {
    li#menu-item-2436 {
      a {
        display: block;
        padding: 14px 15px 13px;
        color: #666;
        text-transform: uppercase;
      }
      .ul-wrap {
        display: none;
        width: auto;
        left: auto;
        background-color: #4d4192;
        position: absolute;
        .sub-menu {
          width: auto;
          li {
            padding-top: 8px;
            padding-bottom: 6px;
            a {
              color: $color-white;
              padding-top: 0;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.header-menu-small {
  display: none;
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: $color-purple;
  z-index: 999;
  ul.nav-menu-small {
    li {
      cursor: pointer;
      padding: 10px 0;
      a {
        font-size: 1.5em;
        line-height: 0;
        color: $color-white;
        text-transform: uppercase;
        text-decoration: none;
        &:link, &:visited, &:active {
          text-decoration: none;
          color: $color-white;
        }
      }
      i {
        color: $color-white;
        font-size: 1.143em;
        position: absolute;
        right: 15px;
      }
      .ul-wrap {
        display: none;
        margin-top: 10px;
      }
      ul.sub-menu {
        li {
          margin-left: 15px;
          a {
            font-size: 1.333em;
            text-transform: uppercase;
            font-weight: 500;
          }
          ul.sub-menu {
            li {
              a {
                font-size: 1.167em;
                text-transform: none;
              }
            }
            ul.sub-menu {
              li {
                a {
                  font-size: 1em;
                  font-weight: 500;
                }
                i {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .menu-item-225, .menu-item-224 {
    ul.sub-menu {
      li {
        i {
          display: none;
        }
      }
    }
  }
}