header {
  &.menu-reduced {
    @media screen and (min-width: 769px) {
      .top-nav {
        height: 46px;
        transition: all 0.5s ease-in-out 0s;
      }
      .logo {
        a {
          img {
            width: 143px;
            height: 25px;
            transition: all 0.5s ease-in-out 0s;
            margin-top: 9px;
          }
        }
      }
      .utility-nav {
        #searchform {
          margin-top: 11px;
          transition: margin 0.5s ease-in-out 0s;
        }

        .header-menu-language {
          ul.nav-menu-language {
            li#menu-item-2487 {
              padding: 15px 30px 12px 15px;
              transition: padding 0.5s ease-in-out 0s;
            }
          }
        }
      }
    }
  }
}