main#main {
  padding-bottom: 30px;
}


.not-found {
  margin-top: 30px;
  .content-error {
    margin-top: 120px;
  }
}

h2.page-title {
  text-align: center;
  margin: 30px 0;
}


.bottom-block {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin-left: 45px;
  margin-right: 45px;
  @media screen and (max-width: 425px){
    position: relative;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.partner-block {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (max-width: 425px) {
    padding-bottom: 0;
  }
  .partner-item {
    background-color: $color-caramel;
    text-align: center;
    padding: 30px;
    height: 100%;
    &:before {
      content: '';
      position: absolute;
      right: 15px;
      top: 0;
      border-top: 45px solid white;
      border-left: 45px solid $color-caramel;
    }
    @media screen and (max-width: 425px) {
        margin-bottom: 30px;
    }
    h3 {
      font-weight: 500;
      color: $color-purple;
      margin-bottom: 15px;
    }
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
    .link-learn-more {
      font-size: 0.875em;
      text-align: left;
      margin-bottom: 0;
    }
  }
}

.info-product {
  padding: 30px 0;
  @media screen and (max-width: 767px) {
    .btn {
      margin-top: 15px;
    }
    .description {
      margin: 0 auto 15px auto;
      text-align: center;
      @media screen and (max-width: 767px) {
        text-align: justify;
      }
    }
  }
}

.description {
  margin: 0 auto;
  text-align: center;
  @media screen and (max-width: 767px) {
    text-align: justify;
  }
}

.details {
  height: 600px;
  .container {
    position: relative;
    height: 100%;
  }
  h1 {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.625em;
  }
  h1, h2, h3, h4, p {
    color: $color-white;
    text-shadow: 1px 1px 0 rgba(3, 2, 4, 0.75);
  }
  .details-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .btn-info {
    margin-top: 0;
  }
}

.advantages-using {
  padding-top: 30px;
  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .advantage-using-item {
    overflow: hidden;
    margin-bottom: 30px;
    @media screen and (max-width: 425px) {
      text-align: center;
    }
    img {
      float: left;
      width: 100px;
      @media screen and (max-width: 425px) {
        float: none;
      }
    }
    p {
      float: left;
      max-width: 245px;
      padding-left: 15px;
      @media screen and (max-width: 425px) {
        float: none;
        max-width: 100%;
        padding-left: 0;
      }
    }
  }
}

.advantages {
  padding-top: 30px;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
  .advantage-item {
    margin-bottom: 30px;
    img {
      width: 100px;
    }
    h4 {
      margin-top: 14px;
      margin-bottom: 2px;
      font-weight: 700;
    }
    b {
      font-weight: 700;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

.business-benefits {
  padding-top: 30px;
  text-align: left;

  .business-benefits-left-column {
    h2 {
      margin-bottom: 10px;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    p {
      width: 195px;
      @media screen and (max-width: 768px) {
        margin: auto;
        text-align: center;
        width: 250px;
      }
    }
    b {
      color: $color-purple;
    }
  }

  .bb-item-down {
    margin-top: 78px;
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
  .business-benefits-item {
    margin-bottom: 30px;
    .icon {
      @media screen and (max-width: 425px) {
        text-align: center;
      }
    }
    img {
      width: 100px;
    }
    h4 {
      margin-top: 14px;
      margin-bottom: 2px;
      font-weight: 700;
      @media screen and (max-width: 425px) {
        text-align: center;
      }
    }
    b {
      font-weight: 700;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

.whitepaper {
  padding: 30px 0;
  h3 {
    font-weight: 700;
    margin-bottom: 15px;
  }
  h4 {
    font-weight: 700;
    color: $color-grey;
    font-size: 1em;
  }
  a.btn {
    width: auto;
  }
  @media screen and (max-width: 425px) {
    text-align: center;
    a.btn {
      width: 100%;
    }
    img {
      width: 50%;
    }
  }
}

#main-header, #post-header, #slider, .details {
  position: relative;
  //z-index: 0;
  color: #fff;
}

#main-header, .single-slide, .details, .post-header {
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    left: 0;
    top: 0;
    position: absolute;
    //z-index: -1;
  }
}

#main-header {
  height: 420px;
  .container {
    height: 100%;
  }
  h1 {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.625em;
  }
  h1, h2, h3, h4, p {
    color: $color-white;
    text-shadow: 1px 1px 0 rgba(3, 2, 4, 0.75);
  }
  .main-header-content {
    position: relative;
    top: 50%;
    height: 220px;
    margin-top: -110px;
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.bold-link {
  a {
    color: $color-purple;
    text-decoration: none;
    &:hover, &:link, &:visited, &:active {
      color: $color-purple;
      text-decoration: none;
    }
  }
}

.list-wrap {
  margin-top: 30px;
  ul {
    float: left;
    @media screen and (max-width: 768px) {
      float: none;
    }
    &.list-right {
      margin-left: 60px;
      @media screen and (max-width: 768px) {
        margin-left: 30px;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.related-products {
  text-align: center;
  padding-top: 30px;
  .related-products-wrap {
    width: 1040px;
    margin-right: auto;
    margin-left: auto;

  }
  h2 {
    font-size: 1.8em;
    color: $color-purple;
    text-align: center;
    margin-bottom: 30px;
  }
  .related-products-item {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    .icon {
      width: 280px;
      margin: 0 auto;
      img {
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
    h4 {
      margin-top: 14px;
      margin-bottom: 12px;
      color: $color-grey;
    }
  }
  .owl-nav {
    .owl-prev {
      left: 0;
      margin-left: -50px;
      i {
        position: absolute;
        left: 0;
        margin-left: 10px;
      }
    }
    .owl-next {
      right: 0;
      margin-right: -50px;
      i {
        position: absolute;
        right: 0;
        margin-right: 10px;
      }
    }
    .owl-prev, .owl-next {
      position: absolute;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      top: 50%;
      margin-top: -40px;
      &:hover {
        background-color: $color-purple;
        color: #fff;
      }
      i {
        font-size: 2.250em;
      }
    }
  }
}

.industry-solutions {
  padding-top: 30px;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .industry-solutions-item {
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    .icon {
      img {
        @media screen and (max-width: 425px) {
          width: 100%;
        }
      }
    }
    p {
      padding: 10px 0;
      font-weight: 500;
    }
    a.cover-link {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      &:hover {
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
          left: 0;
          top: 0;
          position: absolute;
          z-index: -1;
        }
      }
    }
  }
}

.content-block {
  padding: 30px 0;
  @media screen and (max-width: 767px) {
    p {
      text-align: justify;
    }
  }
  h2 {
    font-size: 1.8em;
    color: $color-purple;
    text-align: center;
    margin-bottom: 30px;
  }
  h4 {
    margin: 10px 0;
    color: $color-grey;
    i {
      margin-right: 10px;
    }
    span {
      color: $color-purple;
    }
  }
  .btn {
    margin-top: 30-10px;
  }
  ul {
    margin-left: 30px;
    li {
      list-style-type: disc;
      color: $color-purple;
      span {
        color: $color-grey;
      }
    }
  }

  .videoplayer {
    position: absolute;
    top: 25px;
    right: 55px;
    @media screen and (max-width: 320px) {
      top: 15px;
      right: 35px;
    }
    @media screen and (max-width: 425px) and (min-width: 321px) {
      top: 20px;
      right: 42px;
    }
    @media screen and (max-width: 990px) and (min-width: 768px) {
      top: 17px;
      right: 38px;
    }
    @media screen and (max-width: 1024px) and (min-width: 990px) {
      top: 25px;
      right: 45px;
    }
    iframe {
      width: 470px;
      height: 300px;
      @media screen and (max-width: 320px) {
        width: 246px;
        height: 153px;
      }
      @media screen and (max-width: 425px) and (min-width: 321px) {
        width: 332px;
        height: 210px;
      }
      @media screen and (max-width: 990px) and (min-width: 768px) {
        width: 292px;
        height: 184px;
      }
      @media screen and (max-width: 1024px) and (min-width: 990px) {
        width: 386px;
        height: 238px;
      }
    }
  }
}

.bg-caramel {
  background-color: $color-caramel;
}

.four-steps {
  padding: 30px 0;
  h2 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 30px;
  }
}

.partnership {
  padding: 30px 0;
  .col-fix {
    margin-bottom: 30px;
  }
  img {
    vertical-align: middle;
  }
  h2 {
    font-size: 1.8em;
    color: $color-purple;
    text-align: center;
  }
  .icon {
    text-align: center;
    height: 180px;
    line-height: 180px;
  }
  .btn-primary {
    margin: 30px 0 0;
  }
  .wrapper-btn {
    width: 100%;
    text-align: center;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper {
    border: 1px solid $color-caramel;
    padding: 0 30px;
    margin-top: 30px;
    height: 100%;
    h4 {
      color: $color-dark-grey;
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 10px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}