#products {
  padding: 30px 0;
  @media screen and (max-width: 768px) {
    .btn-primary {
      margin-bottom: 30px;
    }
  }
  .left-column {
    img {
      display: block;
    }
  }
  .right-column {
    p {
      margin-top: 20px;
    }
    img {
      height: 75px;
    }
  }
}