#reviews {
  position: relative;
  background: url("/wp-content/uploads/2017/08/reviews-bg.jpg") $color-light-grey fixed;
  background-size: cover;
  padding: 30px 0;
  h2 {
    margin-bottom: 60px;
    text-align: center;
    @media screen and (max-width: 425px) {
      margin-bottom: 30px;
    }
  }
  h2, p {
    color: $color-white;
  }
  .owl-nav {
    display: block;
    @media screen and (max-width: 425px) {
      display: none;
    }
    .owl-prev {
      position: absolute;
      left: 0;
      top:-5px;
    }
    .owl-next {
      position: absolute;
      right: 0;
      top:-5px;
    }
    i {
      font-size: 6em;
      color: $color-white;
      &.prev {
        left: 0;
        float: left;
      }
      &.next {
        right: 0;
        float: right;
      }
    }
  }
  .single-review {
    .single-review-cell {
      position: relative;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 425px) {
        width: 100%;
      }
    }
    .review-comment {
      margin-top: 17px;
      @media screen and (max-width: 425px) {
        text-align: justify;
      }
    }
    .author {
      display: inline-block;
      text-align: right;
      margin-top: 60px;
      width: 100%;
      @media screen and (max-width: 425px) {
        margin-top: 30px;
      }
      a {
        color: $color-white;
        font-weight: 700;
        &:hover {
          color: $color-purple;
        }
      }
    }
  }
}