section.no-results {
  margin-bottom: 30px;
}

#searchform-none {
  border-radius: 3px;
  border: 1px solid $color-grey;
  height: 24px;
  margin-top: 23px;
  width: 275px;
  input[type="text"] {
    background-color: transparent;
    border: 0;
    padding-left:10px;
    width: 240px;
  }
  #searchsubmit {
    background: transparent;
    border: 0;
  }
}