#slider {
  height: 600px;
  @media screen and (max-width: 768px) {
    height: 420px;
  }
  .slider-content {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    @media screen and (max-width: 768px) {
      top: 30px;
    }
    h1 {
      margin-bottom: 34px;
      max-width: 450px;
    }
    h3 {
      max-width: 450px;
    }
    p.text-slider {
      max-width: 300px;
    }
    a.btn-info {
      width: auto;
      @media screen and (max-width: 425px) {
        width: 100%;
      }
    }
  }
    .owl-dots {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 30px;
      z-index: 2;
      .owl-dot {
        display: inline-block;
        margin-right: 20px;
        border: 2px solid $color-white;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        outline: none;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          background-color: $color-white;
        }
      }
    }
  .single-slide {
    height: 600px;
      h1, h2, h3, h4, p {
      color: $color-white;
      text-shadow: 1px 1px 0 rgba(3, 2, 4, 0.75);
    }
  }
}
